@use "common";
@use "header";
@use "footer";

.cart_con {
    position: absolute;
    right: 6rem;
    top: 115px;
    display: none;
    width: 50%;
    border: 2px solid black;
    background-color: #f3f6f6;
    z-index: 1;

    .cart_container {
        min-height: 80vh;
        display: flex;
        flex-direction: column;

        .cart__header {
            background-color: black;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem 1rem;

            h1 {
                font-size: 1.2rem;
            }
        }

        .cart_button {
            margin: .75rem;
            background-color: #9a1414;
            color: white;
            padding: .5rem;
            border: none;
            cursor: pointer;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .cart-list {
        .cart-list-item {
            display: flex;
            padding: 10px;
            background-color: white;
            justify-content: space-between;
            align-items: center;
            margin: 5px;

            img {
                width: 50px;
                height: 50px;
            }

            .dlsITem {
                flex: 1;
                padding-left: 10px;

                button {
                    background-color: #940d0d;
                    border-radius: 50%;
                    color: white;
                    padding: 2px 6px;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .no-item-list {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0px;
        }
    }
}